h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
    word-spacing: 0.3em;
}


.main-text {
    font-size: 3.5rem;
}


.sub-main {
    margin: 0;
    font-size: 1.7rem;
}


// .glow-fx {
    // text-shadow: 0 0 .2em #2020cc, 0 0 .4em #66f, 0 0 .5em cyan, 0 0 2em cyan;
// }