@import 'typography';
@import 'box';




:root {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}



body {
    width: calc(100vw - 20px);
    max-width: calc(100vw - 20px);
    min-height: calc(100vh - 20px);
    background-color: #333;
    text-align: center;
}


.by {
    span {
        position: relative;

        &:nth-child(2)::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 0;
            right: 0;
            bottom: 0;
            opacity: .6;
            background: yellow;
            animation: highlight .3s ease 18s forwards;
        }
    }
}


::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #666;


    &-thumb {
        background-color: #000;
    }

    &-button {
        width: 5px;
        height: 5px;
        background-color: #666;
    }

    &-scrollbar-track {
        background-color: #666;
    }
    

    &-scrollbar-corner {
        width: 5px;
        height: 5px;
        background-color: #666;
    }

    &-resizer {
        width: 5px;
        height: 5px;
        background-color: #666;
    }
}


@keyframes highlight {
    from {
        height: 0;
    }
    to {
        height: 100%;
    }
}